{
  "presets": [
    [ "env", { "targets": { "node": "8" } } ]
  ],
  "sourceMaps": true,
  "retainLines": true,
  "plugins": [
    [
      "transform-async-to-module-method",
      {
        "module": "bluebird",
        "method": "coroutine"
      }
    ]
  ]
}

