{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "node": "8" } }
    ],
  ],
  "sourceMaps": "inline",
  "retainLines": true,
  plugins: [
    [
      "@babel/plugin-transform-async-to-generator",
      {
        "module": "bluebird",
        "method": "coroutine"
      }
    ]
  ]
}

